In [42]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [25]:
# read the Parquet file
df = pd.read_parquet("ny_taxi_postgres_data/green_tripdata_2025-11.parquet")

# write to CSV
df.to_csv("ny_taxi_postgres_data/green_tripdata_2025-11.csv", index=False)

In [61]:
zones = pd.read_csv("ny_taxi_postgres_data/taxi_zone_lookup.csv", low_memory=False)

In [27]:
# Check data shape
df.shape

(46912, 21)

In [62]:
zones.shape

(265, 4)

In [45]:
zones.dtypes

LocationID      int64
Borough           str
Zone              str
service_zone      str
dtype: object

In [6]:
# Check data types
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

### Specifying data types.

LocationID      int64
Borough           str
Zone              str
service_zone      str

In [51]:
ztype = {
    "LocationID": "Int64",
    "Borough": "string",
    "Zone": "string",
    "service_zone": "string",
}

In [30]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]

df = pd.read_csv(
    "ny_taxi_postgres_data/green_tripdata_2025-11.csv",
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [63]:
zones = pd.read_csv(
    "ny_taxi_postgres_data/taxi_zone_lookup.csv",
    dtype=dtype,
)

### Ingesting Data into Postgres.

Create DB connections.

The engine should already be created so unneeded...

In [56]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

Get DDL Schema. (Redundant because performed in loop below.)

In [64]:
print(pd.io.sql.get_schema(zones, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [65]:
zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [38]:
print(pd.io.sql.get_schema(df, name='green_taxi_new', con=engine))

CREATE TABLE green_taxi_new (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

Create the Table. (Redundant because performed in loop below.)

In [39]:
df.head(n=0).to_sql(name='green_taxi_new', con=engine, if_exists='replace')

0

#### Ingesting Data in Chunks

In [40]:
# Define the iterator.
parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

df_iter = pd.read_csv(
    "ny_taxi_postgres_data/green_tripdata_2025-11.csv",
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [41]:
# Iterate over chunks & insert data into table.
first = True

for df_chunk in tqdm(df_iter, total=14):

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="green_taxi_new",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="green_taxi_new",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

  0%|          | 0/14 [00:00<?, ?it/s]

Table created
Inserted: 46912