In [1]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

data: https://github.com/DataTalksClub/nyc-tlc-data/releases/tag/green/download

In [20]:
# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/'

In [21]:
dfs = []
for month in range(1, 8):  # Janâ€“Jul
    fname = f"green_tripdata_2021-{month:02d}.csv.gz"
    df = pd.read_csv(prefix + fname, low_memory=False)
    dfs.append(df)

green_2021 = pd.concat(dfs, ignore_index=True)

In [29]:
green_2021.shape

(570466, 20)

In [50]:
# Check data types
green_2021.dtypes

VendorID                          Int64
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               string
RatecodeID                        Int64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [51]:
len(green_2021.dtypes)

20

In [52]:
green_2021.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1,43,151,1,1.01,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1,166,239,1,2.53,10.0,0.5,0.5,2.81,0.0,NaN,0.3,16.86,1,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1,41,42,1,1.12,6.0,0.5,0.5,1.00,0.0,NaN,0.3,8.30,1,1.0,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1,168,75,1,1.99,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1.0,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2,265,265,3,0.00,-52.0,0.0,-0.5,0.00,0.0,NaN,-0.3,-52.80,3,1.0,0.00

### Specifying data types.

In [23]:
# prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

In [26]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]

dfs = []

for month in range(1, 8):
    fname = f"green_tripdata_2021-{month:02d}.csv.gz"
    df = pd.read_csv(
        prefix + fname,
        dtype=dtype,
        parse_dates=parse_dates
    )
    dfs.append(df)

green_2021 = pd.concat(dfs, ignore_index=True)

In [28]:
green_2021.shape

(570466, 20)

### Ingesting Data into Postgres.

Create DB connections.

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

Get DDL Schema. (Redundant because performed in loop below.)

In [36]:
print(pd.io.sql.get_schema(green_2021, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Create the Table. (Redundant because performed in loop below.)

In [37]:
green_2021.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [44]:
green_2021.shape

(570466, 20)

#### Ingesting Data in Chunks

In [45]:
from itertools import chain

parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

iters = (
    pd.read_csv(
        prefix + f"green_tripdata_2021-{month:02d}.csv.gz",
        dtype=dtype,
        parse_dates=parse_dates,
        iterator=True,
        chunksize=100_000
    )
    for month in range(1, 8)
)

df_iter = chain.from_iterable(iters)

In [46]:
# Iterate over chunks & insert data into table.
first = True

for df_chunk in tqdm(df_iter):

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="green_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="green_taxi_data",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

0it [00:00, ?it/s]

Table created
Inserted: 76518
Inserted: 64572
Inserted: 83827
Inserted: 86941
Inserted: 88180
Inserted: 86737
Inserted: 83691

In [47]:
query = """
SELECT COUNT(*) FROM green_taxi_data;
"""

In [48]:
df_result = pd.read_sql(query, con=engine)
print(df_result)

    count
0  570466