In [1]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

data: https://github.com/DataTalksClub/nyc-tlc-data/releases/tag/yellow/download

In [4]:
# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

In [5]:
dfs = []
for month in range(1, 13):  # Janâ€“Dec
    fname = f"yellow_tripdata_2020-{month:02d}.csv.gz"
    df = pd.read_csv(prefix + fname, low_memory=False)
    dfs.append(df)

yellow_2020 = pd.concat(dfs, ignore_index=True)

In [6]:
yellow_2020.shape

(24648499, 18)

In [7]:
# Check data types
yellow_2020.dtypes

VendorID                 float64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [8]:
yellow_2020.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

### Specifying data types.

In [23]:
# prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

In [26]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]

dfs = []

for month in range(1, 8):
    fname = f"green_tripdata_2021-{month:02d}.csv.gz"
    df = pd.read_csv(
        prefix + fname,
        dtype=dtype,
        parse_dates=parse_dates
    )
    dfs.append(df)

green_2021 = pd.concat(dfs, ignore_index=True)

In [28]:
green_2021.shape

(570466, 20)

### Ingesting Data into Postgres.

Create DB connections.

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

Get DDL Schema. (Redundant because performed in loop below.)

In [36]:
print(pd.io.sql.get_schema(green_2021, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Create the Table. (Redundant because performed in loop below.)

In [37]:
green_2021.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [44]:
green_2021.shape

(570466, 20)

#### Ingesting Data in Chunks

In [45]:
from itertools import chain

parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

iters = (
    pd.read_csv(
        prefix + f"green_tripdata_2021-{month:02d}.csv.gz",
        dtype=dtype,
        parse_dates=parse_dates,
        iterator=True,
        chunksize=100_000
    )
    for month in range(1, 8)
)

df_iter = chain.from_iterable(iters)

In [46]:
# Iterate over chunks & insert data into table.
first = True

for df_chunk in tqdm(df_iter):

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="green_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="green_taxi_data",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

0it [00:00, ?it/s]

Table created
Inserted: 76518
Inserted: 64572
Inserted: 83827
Inserted: 86941
Inserted: 88180
Inserted: 86737
Inserted: 83691

In [47]:
query = """
SELECT COUNT(*) FROM green_taxi_data;
"""

In [48]:
df_result = pd.read_sql(query, con=engine)
print(df_result)

    count
0  570466